# Placed by confd. Do not hand edit.
{{if exists "/elasticsearch/log"}}
{{range gets "/elasticsearch/log/*"}}{{ $data := json .Value}}{{range $key, $value := $data}}
{{$key}}: {{$value}}{{end}}{{end}}
{{else}}

# you can override this using by setting a system property, for example -Des.logger.level=debug
es.logger.level = info

status = error

appender.console.type = Console
appender.console.name = console
appender.console.layout.type = PatternLayout
appender.console.layout.pattern = [%d{ISO8601}][%-5p][%-25c{1.}] %marker%m%n
      
rootLogger.level = ${es.logger.level}
rootLogger.appenderRef.console.ref = console

# log action execution errors for easier debugging
logger.action = DEBUG
# reduce the logging for aws, too much is logged under the default INFO
logger.com.amazonaws = WARN

{{end}}

