flowinsight-reporter:
    image: registry.aarnet.net.au/insight/reporter-conf:v0.0.2
    labels:
        io.rancher.container.hostname_override: container_name
        io.rancher.sidekicks: flowinsight-reporter-base,flowinsight-reporter-datavolume
        io.rancher.scheduler.affinity:container_label_ne: io.rancher.stack_service.name=$${stack_name}/$${service_name}
        io.rancher.scheduler.affinity:host_label: flowinsight_reporter=true
    volumes_from:
     - flowinsight-reporter-datavolume
flowinsight-reporter-datavolume:
    image: registry.aarnet.net.au/insight/reporter:v0.0.3
    labels:
        flowinsight.reporter.config.version: '0'
        io.rancher.container.hostname_override: container_name
        io.rancher.container.start_once: true
    volumes:
        #- "/srv/reporter/init_data:/srv/reporter/init_data"
        - "/usr/local/bin"
        - "/usr/share/flowinsight/config"
        - "/srv/insight/farm/passwords:/srv/insight/farm/passwords"
    entrypoint: /bin/true    
flowinsight-reporter-base:
    image: registry.aarnet.net.au/insight/reporter:v0.0.3
    labels:
        flowinsight.reporter.config.version: '0'
        io.rancher.container.hostname_override: container_name
    environment:
        KEY: "VALUE"
    entrypoint:
     - /usr/local/bin/run.sh
    volumes_from:
     - flowinsight-reporter-datavolume
    net: "container:flowinsight-reporter"

