#!/usr/bin/env bash

# Placed by confd. Do not hand edit.

# FlowInsight data processing pipeline (called farm). 

STARTUP_PATH=/usr/local/bin/lifecycle
FARM_PATH=/srv/insight/farm

PASSWORD_FILE="$FARM_PATH/passwords/local_password.pl"

while [[ ! -e "$PASSWORD_FILE" ]] ; do
    echo "Waiting for populated database. "
    sleep 10
done

# Farm collectors

ROUTER_NAME='vic-nbpk-pe1'
IP_VERSION='ipv4'
ROUTER_SCALE=1

{{ if exists "/self/service/metadata/farm/yml/router_name" }}
ROUTER_NAME='{{ getv "/self/service/metadata/farm/yml/router_name" }}'
{{ end }}

{{ if exists "/self/service/metadata/farm/yml/ip_version" }}
IP_VERSION='{{ getv "/self/service/metadata/farm/yml/ip_version" }}'
{{ end }}

{{ if exists "/self/service/metadata/farm/yml/router_scale" }}
ROUTER_SCALE='{{ getv "/self/service/metadata/farm/yml/router_scale" }}'
{{ end }}

$STARTUP_PATH/magpie.sh start $ROUTER_NAME $IP_VERSION   &>>/tmp/magpie.start.out &

# Farm processors

# IPFIX record decorator and publisher
cd $FARM_PATH/elephant
for ELEPHANT_INDEX in `seq 1 $ROUTER_SCALE`;
do
    $STARTUP_PATH/elephant.sh start $ROUTER_NAME $ELEPHANT_INDEX &>>/tmp/elephant.start.out &
    echo "Elephant instance: $ELEPHANT_INDEX"
done     

# IPFIX record ElasticSearch indexer
  cd $FARM_PATH/mouse
  $STARTUP_PATH/mouse.sh start  &>>/tmp/mouse.start.out &

# IPFIX record ElasticSearch aggregation report and indexer
  cd $FARM_PATH/squirrel
  $STARTUP_PATH/squirrel.sh start  &>>/tmp/squirrel.start.out &


# Statistics ElasticSearch indexer
  cd $FARM_PATH/Hamster
  $STARTUP_PATH/hamster.sh start  &>>/tmp/hamster.start.out &
  
# Service performing identiification and categorisation of IP addresses.
  cd $FARM_PATH/rabbit
  $STARTUP_PATH/rabbit.sh start  &>>/tmp/rabbit.start.out &
  
# Service performing security assesment of IP addresses.
#  $STARTUP_PATH/guarddog.sh start &>>/tmp/guarddog.start.out &
#  $STARTUP_PATH/sheepdog.sh start &>>/tmp/sheepdog.start.out &

# Service providing AARNet-related categorisation IP addresses.
  cd $FARM_PATH/fish
  $STARTUP_PATH/fish.sh start  &>>/tmp/fish.start.out &

exit 0
